.componentContentWeAreDiffrent{
    margin: 17% 11% 10% 11%;
    display:flex;
    flex: 1 100%;
    flex-flow: row wrap;
    justify-content: flex-start;

    hr {
        width: 15%;
        height: 0.5px;
        background-color: hsl(255, 22.2%, 78%);
        color:hsl(255, 19%, 35%);
        border: 0.1px solid hsl(255, 22.2%, 78%);
        flex: 0 20%;
        }

        h2{
            flex: 1 100%;
            font-size: 3.5rem;
            font-family: "DMSerif";
            margin: 5% 0;
            text-align: left;
            width: 90%;
            color: hsl(256, 26%, 20%);
        }

        .divContentInformationElements{
            display:flex;
            justify-content: space-between;

            
            .contentInformationElement{
                display:flex;
                flex: 0 30%;
                flex-flow:row wrap;
                justify-content: flex-start;
                align-items: center;

                img{
                    flex: 0 30%;
                    width: 20%;
                    height: auto;
                    margin: 5% 0;

                }
                h3{
                    display: flex;
                    flex: 1 100%;
                    align-items: center;
                    margin: 3% 0;
                    font-family: "DMSerif";
                    font-size: 2rem;
                    color: hsl(256, 26%, 20%);

                    }

                p{
                    color:  hsl(273, 4%, 51%);
                    font-family: "Karla";
                    line-height: 1.5;
                    opacity: 0.7;
                }
            }
        }

            
    
    

}
@media all and (max-width:  375px)  {
    .componentContentWeAreDiffrent{
        margin: 20% 2% 10% 2%;
        justify-content: center;
    
        hr {
            width: 45%;
           
            flex: 0 40%;
            }
    
            h2{
                font-size: 2.6rem;
                font-family: "DMSerif";
                margin: 10% 0;
                text-align: center;
                width: 100%;
                color: hsl(256, 26%, 20%);
            }
    
            .divContentInformationElements{
                display:flex;
                flex: 1 100%;
                flex-flow: row wrap;
                justify-content: center;
    
                
                .contentInformationElement{
                    margin: 7% 0;
                    display:flex;
                    flex: 1 100%;
                    flex-flow:row wrap;
                    justify-content: center;
                    align-items: center;
    
                    img{
                        flex: 0 25%;
                        width: 20%;
                        height: auto;
                        margin: 5% 0;
    
                    }
                    h3{
                        display: flex;
                        flex: 1 100%;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        margin: 3% 0;
                        font-family: "DMSerif";
                        font-size: 1.8rem;
                        color: hsl(256, 26%, 20%);
    
                        }
    
                    p{
                        color:  hsl(273, 4%, 51%);
                        font-family: "Karla";
                        line-height: 1.5;
                        opacity: 0.7;
                        text-align: center;
                    }
                }
            }
    
}
}
