.componentFindHowWeWork{
    margin: 2% 11%;
    display:flex;
    flex-flow: row wrap;
    background-color: hsl(256, 26%, 20%);
    color: hsl(0, 0%, 98%);
    padding: 3%;
    align-items: center;
    justify-content: space-around;
    position:reltive;

    h2{
        font-size: 3.5rem;
        font-family: "DMSerif";
        flex: 0 60%;
        line-height: 1;
        padding: 3%;

    }
    button{
        text-transform: uppercase;
        background: rgba(0,0,0,0.0);
        // background-color: hsl(256, 26%, 20%);
        cursor: pointer;
        border: 1px solid hsl(0, 0%, 98%);
        color: hsl(0, 0%, 98%);
        padding: 1% 2%;
        z-index: 1;

    }
    button:hover{
        background-color:  hsl(0, 0%, 98%);
        color: hsl(256, 26%, 20%);

    }
    .rightPattern{
        position:absolute;
        right: 11%;
        object-fit: fill;
        z-index: 0;
    }
    .rightPatternMobile{
        display:none;
    }
}

@media all and (max-width:  375px)  {
    .componentFindHowWeWork{
        margin: 5% 3%;
        padding: 15% 5%;
        justify-content: center;

        .rightPattern{
            display:none;

            
        }
        .rightPatternMobile{
            display:block;
            position:absolute;
            right: 4%;
            object-fit: fill;
            z-index: 0;
            object-fit: contain;
        }
        h2{
            font-size: 2.7rem;
            flex: 1 100%;
            text-align: center;
        }
        button{
            margin: 10% 0;
            padding: 2% 4%;
            font-size: 1.2rem;

        }
    }


}