footer{
    margin: 11% 0 0 0;
    padding: 1% 11% 2% 11%;
    background-color: hsl(0, 0%, 98%);
    position: relative;

    .patternFooter{
        position: absolute;
        top: 0%;
        left: 0;
        z-index: 0;

    }
    .patternFooterMobile{
    display: none;
    }
    
}

@media all and (max-width:  375px)  {
    footer{
        .patternFooter{
            display:none;
        }
        .patternFooterMobile{
            display: block;
            position: absolute;
        top: 0%;
        left: 0;
        z-index: 0;
        }
    }
}