.footerBar{
    display: flex;
    flex: 1 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    img{
        flex: 0 10%;
    }
    .icons{
        display: flex;
        flex-flow: row wrap;
        flex: 0 30%;
        justify-content: flex-end;
        padding: 3% 0;

        li{
            list-style-type: none;
            margin: 0 2%;
            cursor: pointer;
        }
        li:hover{
            filter: invert(2%) sepia(88%) saturate(1171%) hue-rotate(212deg) brightness(34%) contrast(99%);
         }
    }
    hr {
        width: 15%;
        height: 0.5px;
        background-color: hsl(255, 22.2%, 78%);
        color:hsl(255, 19%, 35%);
        border: 0.1px solid hsl(255, 22.2%, 78%);
        flex: 1 100%;
        }}